<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sakura.study.dao.UniversityMapper" >
  <resultMap id="BaseResultMap" type="com.sakura.study.model.University" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="school_icon" property="schoolIcon" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="world_ranking" property="worldRanking" jdbcType="INTEGER" />
    <result column="national_ranking" property="nationalRanking" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, school_name, english_name, school_icon, address, website, world_ranking, national_ranking, 
    description, create_time, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from university
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from university
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sakura.study.model.University" >
    insert into university (id, school_name, english_name, 
      school_icon, address, website, 
      world_ranking, national_ranking, description, 
      create_time, deleted)
    values (#{id,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{schoolIcon,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{worldRanking,jdbcType=INTEGER}, #{nationalRanking,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.sakura.study.model.University" >
    insert into university
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolName != null" >
        school_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="schoolIcon != null" >
        school_icon,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="worldRanking != null" >
        world_ranking,
      </if>
      <if test="nationalRanking != null" >
        national_ranking,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null" >
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="schoolIcon != null" >
        #{schoolIcon,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="worldRanking != null" >
        #{worldRanking,jdbcType=INTEGER},
      </if>
      <if test="nationalRanking != null" >
        #{nationalRanking,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sakura.study.model.University" >
    update university
    <set >
      <if test="schoolName != null" >
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="schoolIcon != null" >
        school_icon = #{schoolIcon,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="worldRanking != null" >
        world_ranking = #{worldRanking,jdbcType=INTEGER},
      </if>
      <if test="nationalRanking != null" >
        national_ranking = #{nationalRanking,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sakura.study.model.University" >
    update university
    set school_name = #{schoolName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      school_icon = #{schoolIcon,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      world_ranking = #{worldRanking,jdbcType=INTEGER},
      national_ranking = #{nationalRanking,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPageSchools" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from university
    where deleted = FALSE
    <if test="schoolName != null">
      and school_name like concat('%',#{schoolName},'%')
    </if>
    order by id DESC limit #{start},#{pageCount}
  </select>

  <select id="getPageSchoolsCount" resultType="java.lang.Integer">
    select
    count(*)
    from university
    where deleted = FALSE
    <if test="schoolName != null">
      and school_name like concat('%',#{schoolName},'%')
    </if>
  </select>
</mapper>